.header-padder.darker
= render 'layouts/notice'

.container
  .heading
    - if poster_owner?
      %h2.rest-in-place{data: {object: 'poster', attribute: 'name'}}= @poster.name
    - else
      %h2= @poster.name
    = link_to t('posters.show.print'), 'javascript:window.print();', class: 'btn'

  .drinks.inner-content
    - if @poster.drinks.empty? and not poster_owner?
      .empty-list
        %i.fa.fa-warning
        = t('drinks.empty')
    %ul
      - @poster.drinks.ordered.each do |drink|
        %li
          = render 'drinks/drink', :drink => drink
      - if poster_owner?
        = render 'posters/add_drink'

  - if poster_owner?
    .links.center
      = link_to t('posters.show.delete'), @poster, :method => :delete, :data => {:confirm => t('notice.are_you_sure')}
  - else
    .links.center
      %strong= t('posters.show.want_to_create_your_own')
      %br
      = link_to 'Sign in', sign_in_path, 'data-no-turbolink' => true
      %span= t('posters.show.to_start')
  .built_with
    %span= t('posters.show.this_poster_was_created')
    = link_to t('site.url'), root_url


