- if poster_owner?
  = link_to edit_poster_drink_path(@poster, drink), :class =>'drinkEl' do
    = render 'drinks/image', :drink => drink
    = render 'drinks/details', :drink => drink
- else
  .drinkEl
    = render 'drinks/image', :drink => drink
    = render 'drinks/details', :drink => drink
