= form_for([@page,@drink], :html => {:class => 'drink-form'}) do |f|

  - if @drink.errors.any?
    #errors
      %ul
        - @drink.errors.full_messages.each do |msg|
          %li= msg
  = render 'drinks/image', :drink => @drink
  .field
    = f.label :name
    = f.text_field :name, :placeholder => 'Person\'s name'
  .field
    = f.label :kind
    = f.collection_select :kind, Drink::KINDS, :to_s, :titleize
  - Drink::TYPES[@drink.kind].each do |field|
    .field
      = f.label field
      = f.select field, select_options(drink_options(field))

  .actions
    = f.submit 'Save'
    - if @preview
      #preview Preview Mode • Click Save to update drink
