<%= form_for([@page,@drink]) do |f| %>
  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% @drink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'drinks/image', :drink => @drink %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => 'Person\'s name' %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.select :kind, Drink::KINDS %>
  </div>
  <div class="field">
    <%= f.label :strength %><br>
    <%= f.select :strength, select_options(Drink::STRENGTHS), include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :tea_type %><br>
    <%= f.select :tea_type, select_options(Drink::TEA_TYPES), include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :milk_amount %><br>
    <%= f.select :milk_amount, select_options(Drink::MILK_AMOUNTS), include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :milk_type %><br>
    <%= f.select :milk_type, select_options(Drink::MILK_TYPES), include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :sugar_amount %><br>
    <%= f.select :sugar_amount, select_options(Drink::SUGAR_AMOUNTS), include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :sugar_type %><br>
    <%= f.select :sugar_type, select_options(Drink::SUGAR_TYPES), include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
