<%= form_for([@page,@drink]) do |f| %>
  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% @drink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => 'Person\'s name' %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.select :kind, Drink::KINDS %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
