<h1>Listing drinks</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Name</th>
      <th>Kind</th>
      <th>Drink attributes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.page_id %></td>
        <td><%= drink.name %></td>
        <td><%= drink.kind %></td>
        <td><%= drink.drink_attributes %></td>
        <td><%= link_to 'Show', drink %></td>
        <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
        <td><%= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drink', new_drink_path %>
