%p#notice= notice
%h2= @page.name
%h3= @drink.name
%p
  %strong Kind:
  %span= @drink.kind

.links
  = link_to 'Edit', edit_page_drink_path(@page, @drink)
  %span •
  = link_to 'Delete', [@page, @drink], :method => :delete, :data => {:confirm => 'Are you sure?'}
  %span •
  = link_to 'Back', @page