= form_for(@page) do |f|

  - if @page.errors.any?
    #errors
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name, :placeholder => 'Page\'s name'
  .actions
    = f.submit 'Save'