%h2 Your Pages
%ul.pages
  - @pages.each do |page|
    %li
      = link_to page do
        %span
          = page.name
          %small= "(#{pluralize(page.drinks.count, 'drink')})"
        .mini-drinks
          - page.drinks.each do |drink|
            .drinkContainer
              = render 'drinks/image', :drink => drink

= link_to 'New Page', new_page_path