- if notice
  #notice
    = notice
    .hide-notice X
%h2
  = @page.name
  - if page_owner?
    = link_to '(rename)', edit_page_path(@page), :class => 'title-action'
.drinks.inner-content
  %ul
    - if @page.drinks.empty?
      - if page_owner?
        = render 'pages/add_drink'
      - else
        %li= t('drinks.empty')
    - else
      - @page.drinks.ordered.each do |drink|
        %li
          = render 'drinks/drink', :drink => drink
      - if page_owner?
        = render 'pages/add_drink'
- if page_owner?
  .links
    = link_to 'Print Infographic', 'javascript:window.print();'
    %span •
    = link_to 'Share on Facebook', share_url, :target => :_blank
    %span •
    = link_to 'Delete Page', @page, :method => :delete, :data => {:confirm => 'Are you sure?'}
    %span •
    = link_to 'All Pages', pages_path