.top-row
  .header-padder
  %h2= t('.tagline')
  %p.lead= t('.byline')
  = link_to t('.cta'), sign_in_path(:facebook), :class => 'btn btn-primary', 'data-no-turbolink' => true
  %small= t('.cta_help')
  = link_to Coffeespec2::EXAMPLE, target: :_blank do
    .example

.bottom-row
  %h3= t('.subtitle')
  .features
    - t('.features').each_with_index do |content, i|
      .feature
        = image_tag("ic#{i}.png")
        %p= content