%header
  = link_to root_path do
    %h1!= t('.title')
  %nav
    - unless current_page? :about or current_page? :root
      = link_to t('.about'), :about
    - if user_signed_in?
      = link_to t('.sign_out'), sign_out_path, class: 'user-action'
    - else
      = link_to t('.sign_in'), :sign_in, class: 'user-action'
