!!! 5
%html.no-js{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title Coffee.spec
    %meta{:name => 'description', :content => 'Create a personalized coffee infographic for you and your co-workers'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %link{:href => '/favicon.ico', :rel => 'shortcut icon'}
    = yield :meta_tags
    = csrf_meta_tags
    = stylesheet_link_tag :application
    = stylesheet_link_tag :application, :media => :print
    = javascript_include_tag :application
  %body
    .content
      = render 'layouts/header'
      = yield
    = render 'layouts/footer'